.logo {
  display: flex;
  align-items: center;
  gap: 14px;
}
@media (max-width: 991.98px) {
  .logo {
    gap: 10px;
    margin-left: 40px;
  }
}
@media (max-width: 767.98px) {
  .logo {
    margin-left: 0;
  }
}
.logo__title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.45;
}
@media (max-width: 991.98px) {
  .logo__title {
    font-size: 1.8rem;
  }
}
@media (max-width: 991.98px) {
  .logo__img {
    width: 24px;
  }
}

.dropdown {
  position: absolute;
  left: 0;
  padding-top: 54px;
  display: none;
  width: min(1240px, 100%);
}
@media (max-width: 991.98px) {
  .dropdown {
    position: initial;
    padding-top: 0;
  }
}
.dropdown__inner {
  --inner-padding: 30px;
  position: relative;
  padding: var(--inner-padding);
  border-radius: 20px;
  background: var(--dropdown-bg-color);
  box-shadow: var(--dropdown-shadow-color);
}
.dropdown__inner::before {
  content: url("../icon/dropdown-arrow.svg");
  position: absolute;
  top: -13px;
  left: var(--arrow-left-pos);
  translate: -50%;
  filter: var(--dropdown-arrow-color);
}
@media (max-width: 991.98px) {
  .dropdown__inner {
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    padding: 0 40px;
  }
  .dropdown__inner::before {
    content: none;
  }
}
@media (max-width: 575.98px) {
  .dropdown__inner {
    padding: 0 20px;
  }
}

.top-menu {
  --main-column-width: 292px;
  --max-inner-height: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 2);
  position: relative;
}
.top-menu__main {
  height: var(--max-inner-height);
  width: var(--main-column-width);
  border-right: 1px solid var(--top-menu-border-color);
  overflow-y: auto;
}
@media (max-width: 991.98px) {
  .top-menu__main {
    height: auto;
    width: 100%;
    border-right: none;
  }
}

.menu-column {
  display: flex;
  gap: 14px;
}
@media (max-width: 991.98px) {
  .menu-column {
    margin-top: 10px;
  }
}
.menu-column + .menu-column {
  margin-top: 22px;
}
.menu-column__icon {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
}
@media (max-width: 1199.98px) {
  .menu-column__icon {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .menu-column__icon {
    display: block;
  }
}
.menu-column__content {
  flex: 1;
}
.menu-column__icon-1 {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.menu-column__icon-2 {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  right: 0;
  bottom: 0;
  filter: var(--menu-item-icon-color);
}
.menu-column__heading {
  margin-top: 4px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}
@media (max-width: 991.98px) {
  .menu-column__heading {
    margin-bottom: 26px;
  }
}
.menu-column__list {
  margin-top: 19px;
}
@media (max-width: 991.98px) {
  .menu-column__list {
    margin-top: 0;
  }
}
.menu-column__link {
  padding: 7px 0;
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 142.857%;
}
.menu-column__item--active .sub-menu {
  display: grid;
}
.menu-column__item--active > .menu-column__link, .menu-column__item:hover > .menu-column__link {
  color: #0071dc;
  font-weight: 500;
}

.sub-menu {
  position: absolute;
  inset: 0 0 0 var(--main-column-width);
  padding-left: var(--inner-padding);
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--inner-padding);
  overflow-y: auto;
}
@media (max-width: 991.98px) {
  .sub-menu {
    position: initial;
    grid-template-columns: 1fr;
    padding-left: 0;
  }
}
.sub-menu__not-main {
  position: initial;
  inset: initial;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: var(--max-inner-height);
  padding-left: 0;
}
@media (max-width: 991.98px) {
  .sub-menu__not-main {
    grid-template-columns: 1fr;
    height: auto;
  }
}

/*# sourceMappingURL=index.css.map */
