// Filter button
.filter-btn {
    display: flex;
    align-items: center;

    gap: 14px;
    height: 36px;
    padding: 0px 14px;

    color: var(--filter-btn-color);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 142.857%;

    border-radius: 6px;
    background: var(--filter-btn-bg);
}

// Like Btn
.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: var(--like-btn-bg);
    box-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);

    &:not(&__liked) &__icon--liked {
        display: none;
    }

    &__liked &__icon {
        display: none;
    }

    &__icon--liked {
        margin-top: 6px;
    }
}

// BUttons
.btn {
    height: 46px;
    padding: 0 20px;
    border-radius: 6px;

    font-size: 1.8rem;
    font-weight: 500;

    background: #f8f8fb;
    user-select: none;

    + .btn {
        margin-left: 20px;
    }

    &--text {
        color: #9e9da8;
        background: transparent;

        font-weight: 400;
    }

    &--primary {
        background: #ffb700;
        color: #1a162e;
    }

    &--outline {
        background: transparent;
        border: 1px solid #d2d1d6;
    }

    &--rounded {
        border-radius: 99px;
    }
    &[disabled],
    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &:hover {
        opacity: 0.9;
    }
}
